.filter__author-block{
    position: relative;
    margin-right: 10px;
    
}
.filter__author-list{
    position: absolute;
    top: 50px;
    width: 448px;
    height: 305px;
    background-color: #313131;
    z-index: 1;
    border-radius: 12px;
    display: flex;      
    align-items: center;
    justify-content: center;
}
.filter__author-container{
    width: 380px;
    height: 237px;
    background-color: #313131;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.filter__author-items{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.filter__author-items:hover{
    text-decoration: underline;
    color: #B672FF;
}