.filter__year-block{
    position: relative;
    margin-right: 10px;
    
}
.filter__year-list{
    position: absolute;
    top: 50px;
    width: 221px;
    height: 196px;
    background-color: #313131;
    z-index: 1;
    border-radius: 12px;
    display: flex;      
    align-items: center;
    justify-content: center;
}
.filter__year-container{
    width: 153px;
    height: 128px;
    background-color: #313131;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.filter__year-items{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.filter__year-items:hover{
    text-decoration: underline;
    color: #B672FF;
}